<br>
<div class="well well-lg">

<p>
  <strong>University:</strong>
  <%= link_to @title.university_name, @title.university %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @title.classification %>
</p>

<p>
  <strong>Description:</strong>
  <%= @title.description %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @title.owner %>
</p>

<p>
  <strong>Total area:</strong>
  <%= @title.total_area %>
</p>

<p>
  <strong>Acquisition:</strong>
  <%= @title.acquisition %>
</p>

<p>
  <strong>Status:</strong>
  <%= @title.status %>
</p>

<p>
  <strong>Date issued:</strong>
  <%= @title.date_issued.strftime("%d %B %Y") if @title.date_issued.present? %>
</p>

<p>
  <strong>Tax dec no:</strong>
  <%= @title.tax_dec_no %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @title.remarks %>
</p>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading-steps-table">
      <h3 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#steps-table" aria-expanded="false" aria-controls="steps-table">
          Steps Taken
        </a>
      </h3>
    </div>
    <div id="steps-table" class="panel-collapse collapse" role="tabpanel" aria-labelledby="steps-table">
      <div class="panel-body">
        <table class="table table-hover table-responsive">
          <thead>
            <tr>
              <th>Date</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <% @title.steps.order(:date_start).each do |step| %>
              <tr>
                <td style="text-align: left;"><%= step.date_start.strftime("%d %B %Y") %></td>
                <td style="text-align: left;"><%= step.description %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

</div>

<div class="pull-right">
  <%= link_to 'Edit', edit_title_path(@title) %> |
  <%= link_to 'Delete', @title, method: :delete, data: { confirm: 'Are you sure?' } %> | 
  <%= link_to 'Back', "javascript:history.back()" %>
</div>

