<!DOCTYPE html>
<html>
	<head>
		<title>Land Holdings, Titling, and Certification</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= favicon_link_tag 'favicon.ico' %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<!--  Created by John Thomas Raphael Dulay for the University of the Philippines Office of the Vice President for Development  -->
		
		<%= render 'shared/navigation' %>
		<div id="main-container" class="container-fluid">
			<div class="row-fluid">				
				<div class="col-md-2">
				</div>
				<div class="col-md-8">
					<% flash.each do |name, msg| %>
						<% if user_signed_in? %>
		            		<% content_tag :div, msg, class: "alert alert-#{name}" %>
		            	<% end %>
		         	<% end %>

					<%= yield %>
				</div>
				<div class="col-md-2">
				</div>
			</div>
		</div>
	</body>
</html>
